body {
    font-family: 'Share Tech', sans-serif;
    margin: 0%;
    padding: 0%;
   
}

header {
    background: url("../img/landscape.jpg");   
    height: 100vh;
    background-size: cover;
}

h3 {
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    color: #242e34
}

h4 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0px 20px 0px;
}

.inicio {
    text-align: center;
}

.inicio h1{
    margin: 0%;
    font-size: 100px;
    padding-top: 300px;
    color: #242e34; 
}

.inicio h2 {
    font-size: 30px;
    /*color: rgb(188, 188, 188);*/
    color: #C0B9BE;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

.tributos {
    display: flex;
    max-width: 1280px;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    /*Centra los elementos*/
    margin: auto;
}

.tributos p {
    font-size: 20px;
    margin-left: 50px;
    width: 45%;
    float: left;
}

.tributos img {
    width: 40%;
    height: 500px;
    
}

.contenedor-dt {
    background: #161B20;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.contenedor-dt h3 {
    color: #C0B9BE;
}

.owl-carousel img {
    height: 300px;
    width: 100px;
}

.owl-nav {
    text-align: center;
}

span {
    font-size: 50px;
    color: #C0B9BE;
}

.wrapper {
   /*El display Flex hace que el contenido se muestre horizontalmente,
   el modo por defecto, el display:block, muestra los elementos verticalmente*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
    position: relative;
}

.image img {
   width: 100%;
   display: block;
   margin: auto; 
}

.content {
    height: 100%; 
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content:hover {
    opacity: 1;
}

.content p {
    font-size: 19px;
    color: white;
    margin-left: 40px;
    margin-right: 40px;  
}

.content > *{
    transform: translatey(25px);
    transition: transform 0.6s;
}

.content:hover > *{
    transform: translatey(0px);
}

.homenaje {
    display: flex;
}

.tributo {
   background-color: #C0B9BE;
   padding: 40px 40px 50px 40px;
   margin-top: 30px;
}

.homenaje img {
    width: 400px;
}

.tributo p {
    font-size: 15px;
}

.secundario {
    height: 334px;
}




